cfg/secrets/
sound/

// Defaults

360controller*
chapter*
config_default.cfg
config.cfg
mapcycle*
motd*
mtp.cfg
replay_example.cfg
settings.scr
sfm*
sixense*
sourcevr*
trusted_keys*
undo360*
user.scr
